{% extends 'loader/layout.html' %}
{% load bootstrap  %}

{% block content %}
{% if message %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="alert alert-{{ message_type }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    </div>
</div>
{% endif %}


<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
             <form class="form-horizontal form-loader" enctype="multipart/form-data"  method="post">
                 {% csrf_token %}
                 {{ form | bootstrap_horizontal }}
                 <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Выполнить</button>
                 </div>
             </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
