
/node_modules
/external
/tmp


/src/settings/local.py
/src/static/src/vendors/
/src/static/src/css/
/settings.py
conf/nginx/
conf/supervisor/
src/static/src/fonts/
src/static/src/icons/
src/static/src/sass/layout/
/node_modules/
/.sass-cache/
/public/
