{% extends 'dictionaries/layout.html' %}

{% block page_header %}
            {{ block.super }}
            <div class="pull-right">
             <a href="{% url 'dictionaries:types-list' category.slug %}" class="btn btn-info">Типы справочников</a>
             <a href="{% url 'dictionaries:categories-edit' category.slug %}" class="btn btn-primary">Редактировать</a>
             <a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target=".delete-modal"
           onClick='obj_delete("{{ category }}", "{% url 'dictionaries:categories-delete' category.slug %}");'>Удалить</a>
        </div>
{% endblock page_header %}

{% block content %}

    {% include 'modals/_modal_delete.html' %}

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
              <ul class="list-group">
                 <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><strong>Наименование</strong></div>
                        <div class="col-md-9">{{ category.name }}</div>
                    </div>
                </li>
                 <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><strong>Слаг</strong></div>
                        <div class="col-md-9">{{ category.slug }}</div>
                    </div>
                </li>
              </ul>
            </div>
        </div>
    </div>

{% endblock %}
