{% extends 'dictionaries/layout.html' %}

{% block page_header %}
            {{ block.super }}
            <div class="pull-right">
            <a href="{% url 'dictionaries:categories-add' %}" class="btn btn-primary">Добавить</a>
        </div>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
        {% if categories %}
            {% for category in categories %}
                <a href="{% url 'dictionaries:categories-detail' category.slug %}" class="list-group-item">{{ category.name }}</a>
            {% endfor %}
        {% else %}
                <div class="list-group-item">Объектов нет</div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}