{% extends 'layout/content.html' %}
{% load get_params %}

{% block page_header %}Информационная панель{% endblock page_header %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <ul class="list-group">
              {% for age in list_age %}
              <li class="list-group-item">
                <span class="badge">{{ age | get_child_count }}</span>
                {{ age | display_age }}
              </li>
              {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}