<div class="panel panel-default">
    {% if health_list %}
        <div class="panel-heading">Последние записи</div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Начальная дата</th>
                    <th>Конечная дата</th>
                    <th>Состояние</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for health in health_list %}
                        <td>{{ health.first_date }}</td>
                        <td>{{ health.last_date|default_if_none:"-" }}</td>
                        <td>{% for states in health.states.all %}
                            {{ states }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

    {% else %}
        <div class="panel-body">Нет истории</div>
    {% endif %}
</div>
