<div class="panel panel-default">
    {% if parent_list %}
        <div class="panel-heading">Последние записи</div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Начальная дата</th>
                    <th>Конечная дата</th>
                    <th>Состояние</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for parent in parent_list  %}
                        <td>{{ parent.first_date }}</td>
                        <td>{{ parent.last_date|default_if_none:"-" }}</td>
                        <td>{% for status in parent.status.all %}
                            {{ status }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

    {% else %}
        <div class="panel-body">Нет истории</div>
    {% endif %}
</div>
