{% extends 'dictionaries/layout.html' %}

{% block page_header %}
            {{ block.super }}
            <div class="pull-right">
             <a href="{% url 'streets:edit' street.id %}" class="btn btn-primary">Редактировать</a>
             <a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target=".delete-modal"
           onClick='obj_delete("{{ street }}", "{% url 'streets:delete' street.id %}");'>Удалить</a>
        </div>
{% endblock page_header %}

{% block content %}

    {% include 'modals/_modal_delete.html' %}

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
              <ul class="list-group">
                 <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 col-xs-4"><strong>Наименование</strong></div>
                        <div class="col-md-8 col-xs-8">{{ street.name }}</div>
                    </div>
                </li>
              </ul>
            </div>
        </div>
    </div>

{% endblock %}