{% extends 'dictionaries/old/layout.html' %}

{% block content %}
<div class="row">

    <div class="col-md-4">
        <div class="list-group">
          <a href="{% url 'education' %}" class="list-group-item active">Образование</a>
          <a href="{% url 'institutions:list' %}" class="list-group-item">Учреждения</a>
          <a href="{% url 'groups:list' %}" class="list-group-item">Возрастные группы</a>
          <a href="{% url 'grades:list' %}" class="list-group-item">Классы</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
          <a href="{% url 'address' %}" class="list-group-item active">Адреса</a>
          <a href="{% url 'locality:list' %}" class="list-group-item">Населенные пункты</a>
          <a href="{% url 'streets:list' %}" class="list-group-item">Улицы</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
          <a href="{% url 'secondary' %}" class="list-group-item active">Дополнительные сведения</a>
          <a href="{% url 'health:list' %}" class="list-group-item">Состояния здоровья</a>
          <a href="{% url 'parents:list' %}" class="list-group-item">Статусы родителей</a>
        </div>
    </div>

</div>
{% endblock content %}
