{% extends 'dictionaries/layout.html' %}

{% block page_header %}
            {{ block.super }}
            <div class="pull-right">
            <a href="{{ add_obj }}" class="btn btn-primary">Добавить</a>
        </div>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="list-group">
        {% if obj_list %}
            {% for obj in obj_list %}
                <a href="{{ obj.get_absolute_url }}" class="list-group-item">{{ obj.name }}</a>
            {% endfor %}
        {% else %}
                <div class="list-group-item">Объектов нет</div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}