<div class="panel panel-default">
        {% if education_list %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Начальная дата</th>
                        <th>Конечная дата</th>
                        <th>Учреждение</th>
                        <th>Класс</th>
                        <th>Возрастная группа</th>
                    </tr>
                </thead>
                <tbody>
                 {% for education in education_list  %}
                    <tr>
                        <td>
                            <a href="{% url 'educations:detail' child.id education.id %}">
                                {{ education.first_date }}
                            </a>
                        </td>
                        <td>{{ education.last_date|default_if_none:"-" }}</td>
                        <td>{{ education.institution|default_if_none:"-" }}</td>
                        <td>{{ education.grade|default_if_none:"-" }}</td>
                        <td>{{ education.group|default_if_none:"-" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
      {% else %}
       <div class="panel-body">
            Нет истории
       </div>
      {% endif %}
</div>