{% extends 'dictionaries/layout.html' %}

{% block page_header %}
            {{ block.super }}
            <div class="pull-right">
            <a href="{% url 'locality:add' %}" class="btn btn-primary">Добавить</a>
        </div>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="list-group">
        {% if locality_list %}
            {% for locality in locality_list %}
                <a href="{% url 'locality:detail' locality.id %}" class="list-group-item">{{ locality.name }}</a>
            {% endfor %}
        {% else %}
                <div class="list-group-item">Объектов нет</div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}