.radio {
  padding: 0 20px;
  display: inline-block;

}

.is_hide {
  display: none;
}

.panel_login {
  margin-top: 20vh;
}

.panel-title_login {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
