{% extends 'dictionaries/layout.html' %}

{% block page_header %}
            {{ block.super }}
            <div class="pull-right">
                 <a href="{{ dict_item.get_edit_url }}" class="btn btn-primary">Редактировать</a>
                 <a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target=".delete-modal"
               onClick='obj_delete("{{ dict_item }}", "{{ dict_item.get_delete_url }}");'>Удалить</a>
            </div>
{% endblock page_header %}

{% block content %}

    {% include 'modals/_modal_delete.html' %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
              <ul class="list-group">
                 <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><strong>Наименование</strong></div>
                        <div class="col-md-9">{{ dict_item.name }}</div>
                    </div>
                </li>
                {% if type.slug == 'institutions' %}
                <li class="list-group-item">
                   <div class="row">
                        <div class="col-md-3"><strong>Тип учреждения</strong></div>
                        <div class="col-md-9">{{ dict_item.get_institution_type_display }}</div>
                    </div>
                </li>
                {% endif %}
              </ul>
            </div>
        </div>
    </div>

{% endblock %}
