{% extends 'dictionaries/layout.html' %}

{% block page_header %}
            {{ block.super }}
            <div class="pull-right">
            <a href="{{ add_obj }}" class="btn btn-primary">Добавить</a>
        </div>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col-md-12">

    {% if institution %}
        <div class="panel panel-default">
            <tr class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тип</th>
                  </tr>
                </thead>
                <tbody>
                {% if obj_list %}
                    {% for obj in obj_list %}
                      <tr>
                        <td><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
                        <td>{{ obj.get_type_display }}</td>
                      </tr>
                    {% endfor %}
                {% else %}
                    <td>Объектов нет</td>
                    <td></td>
                {% endif %}
                </tbody>
              </table>
            </div>
        </div>
        {% else %}
        <div class="list-group">
        {% if obj_list %}
            {% for obj in obj_list %}
                <a href="{{ obj.get_absolute_url }}" class="list-group-item">{{ obj.name }}</a>
            {% endfor %}
        {% else %}
                <div class="list-group-item">Объектов нет</div>
        {% endif %}
        </div>
     {% endif %}
    </div>
</div>
{% endblock %}