{% extends 'dictionaries/layout.html' %}

{% block content %}
<div class="row">

    <div class="col-md-4">
        <div class="list-group">
          <a href="{% url 'education' %}" class="list-group-item active">Образование</a>
          <a href="{% url 'institutions:list' %}" class="list-group-item">Учреждения</a>
          <a href="#" class="list-group-item">Возростные группы</a>
          <a href="#" class="list-group-item">Классы</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
          <a href="#" class="list-group-item active">Адреса</a>
          <a href="#" class="list-group-item">Населенные пункты</a>
          <a href="#" class="list-group-item">Улицы</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
          <a href="#" class="list-group-item active">Дополнительные сведения</a>
          <a href="#" class="list-group-item">Состояния здоровья</a>
          <a href="#" class="list-group-item">Статусы родителей</a>
        </div>
    </div>

</div>
{% endblock content %}
