<div class="panel panel-default">
{% if params %}

<div class="panel-heading">История</div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Начальная дата</th>
                    <th>Конечная дата</th>
                    {% for title in title_list %}
                        <th>{{ title }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>

             {% for param in params  %}
                <tr>
                    {% if param.parameter.slug == param_type %}
                        <td>
                            <a href="{% url 'children:history-edit' child.id param.parameter.slug param.id %}">
                                {{ param.first_date }}
                            </a>
                        </td>
                        <td>{{ param.last_date|default_if_none:"-" }}</td>
                        {% if param_type == 'education' %}
                            <td>{{ param.institution|default_if_none:"-" }}</td>
                            <td>{{ param.grade|default_if_none:"-" }}</td>
                            <td>{{ param.group|default_if_none:"-" }}</td>
                        {% elif param_type == 'health' %}
                            <td>{% for states in param.health_states.all %}
                                    {{ states }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</td>
                        {% elif param_type == 'parent' %}
                            <td>{% for status in param.parents_status.all %}
                                        {{ status }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</td>
                        {% elif param_type == 'risk' %}
                            <td>{{ param.get_risk_group_display }}</td>
                        {% elif param_type == 'note' %}
                            <td>{{ param.note }}</td>
                        {% endif %}

                        <td><a href="javascript: void (0);" data-toggle="modal" data-target=".delete-modal"
                        onClick='obj_delete("{{ param }}", "{% url 'children:history-delete' child.id param.parameter.slug param.id %}");'>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% else %}
<div class="panel-body">Нет истории</div>
{% endif %}
</div>
