{% extends 'children/layout.html' %}


{% block page_header %}
    {{ block.super }}
    <div class="pull-right">
        <a href="{% url 'children:edit' child.id %}" class="btn btn-primary">Редактировать</a>
        <a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target=".delete-modal"
           onClick='obj_delete("{{ child }}", "{% url 'children:delete' child.id  %}");'>Удалить</a>
    </div>
{% endblock page_header %}


{% block content %}

    {% include 'modals/_modal_delete.html' %}

<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default">
      <div class="panel-heading">Основные данные</div>
      <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Фамилия</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.last_name }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Имя</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.first_name }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Отчество</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.middle_name }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Дата рождения</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.birthday }}</div>
            </div>
        </li>
      </ul>
    </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default">
      <div class="panel-heading">Адрес</div>
      <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Населенный пункт</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.locality }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Улица</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.street }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Дом</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.house }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Квартира</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.flat }}</div>
            </div>
        </li>
      </ul>
    </div>
    </div>
</div>
{% if params %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified" role="tablist">
            {% for param in params %}
            <li role="presentation" class="active">
                <a href="#{{ param.slug }}" aria-controls="{{ param.slug }}" role="tab" data-toggle="tab">{{ param.name }}</a>
            </li>
            {% endfor %}
          </ul>

            <!-- Tab panes -->

            <div class="tab-content">


                <div role="tabpanel" class="tab-pane fade active in" id="education">
                    <h4 class="tab-header">
                        <span class="title title_tab">История обучения</span>
                        <div class="pull-right">
                            <a href="{% url 'educations:list' child.id %}" class="btn btn-default">Вся история</a>
                            <a href="{% url 'educations:add' child.id %}" class="btn btn-primary">Добавить</a>
                        </div>
                    </h4>

                    {% with child.paramhistory_set.all|slice:":5" as paramhistory %}
                        {{ paramhistory }}
                    {% endwith %}
                </div>


            </div>

        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
