{% extends 'children/layout.html' %}
{% load bootstrap  %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
             <form class="form-horizontal" method="post">
                 {% csrf_token %}
                 {{ form | bootstrap_horizontal }}
                 {{ back_url }}
                 <div class="pull-right">
                    <a href="{{ back_url }}" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-primary">Выполнить</button>
                 </div>
             </form>
            </div>
        </div>
    </div>
</div>
{% endblock content  %}