{% extends 'children/layout.html' %}
{% block page_header %}
            {{ block.super }}
            <div class="btn-group pull-right">
            <a href="{% url 'children:add' %}" class="btn btn-primary">Добавить</a>
        </div>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Ребенок</th>
                        <th>Дата рождения</th>
                        <th>Возраст</th>
                        <th>Учреждение</th>
                        <th>Класс</th>
                        <th>Возрастная группа</th>
                    </tr>
                </thead>
                <tbody>
                {% for child in children %}

                    <tr>
                        <td><a href="{{ child.get_absolute_url }}">{{ child }}</a></td>
                        <td>{{ child.birthday| date:'d.m.Y' }}</td>
                        <td>{{ child.get_age }}</td>
                        {% with child.studenthistory_set.all as student_history %}
                        {% if student_history %}
                        {% for student in student_history  %}
                        <td>{{ student.institution|default_if_none:'-' }}</td>
                        <td>{{ student.grade|default_if_none:'-' }}</td>
                        <td>{{ student.group|default_if_none:'-' }}</td>
                        {% endfor %}
                        {% else %}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        {% endif %}
                        {% endwith %}
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
</div>
</div>
</div>
{% endblock content %}