{% extends 'children/layout.html' %}
{% load history_param %}

{% block page_header %}
    {{ block.super }}
    <div class="pull-right">
        <a href="{% url 'children:edit' child.id %}" class="btn btn-primary">Редактировать</a>
        <a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target=".delete-modal"
           onClick='obj_delete("{{ child }}", "{% url 'children:delete' child.id  %}");'>Удалить</a>
    </div>
{% endblock page_header %}


{% block content %}

    {% include 'modals/_modal_delete.html' %}

<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default">
      <div class="panel-heading">Основные данные</div>
      <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Фамилия</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.last_name }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Имя</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.first_name }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Отчество</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.middle_name }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Дата рождения</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.birthday }}</div>
            </div>
        </li>
      </ul>
    </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default">
      <div class="panel-heading">Адрес</div>
      <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Населенный пункт</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.locality }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Улица</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.street }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Дом</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.house }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Квартира</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.flat }}</div>
            </div>
        </li>
      </ul>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active">
                <a href="#education" aria-controls="education" role="tab" data-toggle="tab">Образование</a>
            </li>
            <li role="presentation">
                <a href="#health" aria-controls="health" role="tab" data-toggle="tab">Состояние здоровья</a>
            </li>
            <li role="presentation">
                <a href="#family" aria-controls="family" role="tab" data-toggle="tab">Статус семьи</a>
            </li>
            <li role="presentation">
                <a href="#risk" aria-controls="risk" role="tab" data-toggle="tab">Группа риска</a>
            </li>
            <li role="presentation">
                <a href="#note" aria-controls="note" role="tab" data-toggle="tab">Примечание</a>
            </li>
          </ul>

            <!-- Tab panes -->

            <div class="tab-content">
                <!--// Education \\-->
                <div role="tabpanel" class="tab-pane fade active in" id="education">
                    <h4 class="tab-header">
                        <span class="title title_tab">История обучения</span>
                        <div class="pull-right">
                            <a href="{% url 'educations:list' child.id %}" class="btn btn-default">Вся история</a>
                            <a href="{% url 'educations:add' child.id %}" class="btn btn-primary">Добавить</a>
                        </div>
                    </h4>

                    {% with child.studenthistory_set.all|slice:":5" as education_list %}
                        {% child_education_history child education_list %}
                    {% endwith %}
                </div>
                <!--\\ Education //-->

                <!--// Health \\-->
                <div role="tabpanel" class="tab-pane fade" id="health">
                    <h4 class="tab-header">
                        <span class="title title_tab">Состояние здоровья</span>
                        <div class="pull-right">
                            <a href="{% url 'health:list' child.id %}" class="btn btn-default">Вся история</a>
                            <a href="{% url 'educations:add' child.id %}" class="btn btn-primary">Добавить</a>
                        </div>
                    </h4>

                    {% with child.healthhistory_set.all|slice:":5" as health_list %}
                        {% child_health_history child health_list %}
                    {% endwith %}
                </div>
                <!--\\ Health //-->

                <!--// Family \\-->
                <div role="tabpanel" class="tab-pane fade" id="family">
                    <h4 class="tab-header">
                        <span class="title title_tab">Статус семьи</span>
                        <div class="pull-right">
                            <a href="{% url 'educations:list' child.id %}" class="btn btn-default">Вся история</a>
                            <a href="{% url 'educations:add' child.id %}" class="btn btn-primary">Добавить</a>
                        </div>
                    </h4>

                {% with child.parentsstateshistory_set.all as parents_list %}
                     {% child_parent_history child parents_list %}
                {% endwith %}
                </div>
                <!--\\ Family //-->

                <!--// Risk \\-->
                <div role="tabpanel" class="tab-pane fade" id="risk">
                    <h4 class="tab-header">
                        <span class="title title_tab">Группа риска</span>
                        <div class="pull-right">
                            <a href="{% url 'educations:list' child.id %}" class="btn btn-default">Вся история</a>
                            <a href="{% url 'educations:add' child.id %}" class="btn btn-primary">Добавить</a>
                        </div>
                    </h4>
                {% with child.riskhistory_set.all as risk_history %}
                    {% child_risk_history child risk_history %}
                {% endwith %}
                </div>
                <!--\\ Risk //-->

                <!--// Notes \\-->
                <div role="tabpanel" class="tab-pane fade" id="note">

                    <h4 class="tab-header">
                        <span class="title title_tab">Примечание</span>
                        <div class="pull-right">
                            <a href="{% url 'educations:list' child.id %}" class="btn btn-default">Вся история</a>
                            <a href="{% url 'educations:add' child.id %}" class="btn btn-primary">Добавить</a>
                        </div>
                    </h4>
                {% with child.notehistory_set.all as note_history %}
                    {% child_note_history child note_history %}
                {% endwith %}
                </div>
                <!--\\ Notes //-->

            </div>

        </div>
    </div>
</div>
{% endblock content %}
