{% extends 'children/layout.html' %}
{% load get_params %}
{% block page_header %}
            {{ block.super }}
            <div class="pull-right">
            <a href="{% url 'children:add' %}" class="btn btn-primary">Добавить</a>
        </div>
{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12">

        <div class="panel panel-default">
            <div class="table-responsive">
                <table id="children" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Ребенок</th>
                            <th>Возраст</th>
                        </tr>
                    </thead>

                </table>
            </div>
    </div>
    </div>
</div>
{% endblock content %}
