{% extends 'children/layout.html' %}
{% load history_param %}

{% block page_header %}
    {{ block.super }}
    <div class="pull-right">
        <a href="{% url 'children:edit' child.id %}" class="btn btn-primary">Редактировать</a>
        <a href="" class="btn btn-danger" data-toggle="modal" data-target=".delete-modal"
           onClick='obj_delete("{{ child }}", "{% url 'children:delete' child.id  %}");'>Удалить</a>
    </div>
{% endblock page_header %}


{% block content %}

    {% include 'children/_modal_delete.html' %}

<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default">
      <div class="panel-heading">Основные данные</div>
      <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Фамилия</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.last_name }}</div>
            </div>
        </li>
         <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Имя</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.first_name }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Отчество</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.middle_name }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Дата рождения</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.birthday }}</div>
            </div>
        </li>
      </ul>
    </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default">
      <div class="panel-heading">Адрес</div>
      <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Населенный пункт</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.locality }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Улица</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.street }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Дом</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.house }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4 col-xs-4"><strong>Квартира</strong></div>
                <div class="col-md-8 col-xs-8">{{ child.flat }}</div>
            </div>
        </li>
      </ul>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#education" aria-controls="education" role="tab" data-toggle="tab">Образование</a>
        </li>
        <li role="presentation">
            <a href="#health" aria-controls="health" role="tab" data-toggle="tab">Статус здоровья</a>
        </li>
        <li role="presentation">
            <a href="#family" aria-controls="family" role="tab" data-toggle="tab">Статус семьи</a>
        </li>
        <li role="presentation">
            <a href="#risk" aria-controls="risk" role="tab" data-toggle="tab">Группа риска</a>
        </li>
        <li role="presentation">
            <a href="#note" aria-controls="note" role="tab" data-toggle="tab">Примечание</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="education">
            <h3 class="tab-header">
                История обучения
                <div class="pull-right">
                <a href="{% url 'educations:list' child.id %}" class="btn btn-default">
                    Вся история
                </a>
                <a href="{% url 'educations:add' child.id %}" class="btn btn-primary">
                    Добавить
                </a>
                </div>
            </h3>

            {% with child.studenthistory_set.all|slice:":5" as education_list %}
                {% child_education_history child education_list %}
            {% endwith %}
        </div>

        <div role="tabpanel" class="tab-pane" id="health">



        {% with child.healthhistory_set.all as health_history %}
         {% if health_history %}
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Начальная дата</th>
                        <th>Конечная дата</th>
                        <th>Состояние</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for health in health_history  %}
                        <td>{{ health.first_date }}</td>
                        <td>{{ health.last_date|default_if_none:"-" }}</td>
                        <td>{{ health.text|default_if_none:"-"  }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
          {% else %}
          <br/><p>Нет истории</p>
          {% endif %}
        {% endwith %}

        </div>

        <div role="tabpanel" class="tab-pane" id="family">

        {% with child.familystatushistory_set.all as familystatus_history %}
         {% if familystatus_history %}
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Начальная дата</th>
                        <th>Конечная дата</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for familystatus in familystatus_history  %}
                        <td>{{ familystatus.first_date }}</td>
                        <td>{{ familystatus.last_date|default_if_none:"-" }}</td>
                        <td>{% for status in familystatus.status.all %}
                            {{ status }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
          {% else %}
          <br/><p>Нет истории</p>
          {% endif %}
        {% endwith %}
        </div>

        <div role="tabpanel" class="tab-pane" id="risk">
        {% with child.riskhistory_set.all as risk_history %}
         {% if risk_history %}
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Начальная дата</th>
                        <th>Конечная дата</th>
                        <th>Группа риска</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for risk in risk_history  %}
                        <td>{{ risk.first_date }}</td>
                        <td>{{ risk.last_date|default_if_none:"-" }}</td>
                        <td>{{ risk.get_group_display }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
          {% else %}
          <br/><p>Нет истории</p>
          {% endif %}
        {% endwith %}
        </div>

        <div role="tabpanel" class="tab-pane" id="note">
        {% with child.notehistory_set.all as note_history %}
         {% if note_history %}
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Начальная дата</th>
                        <th>Конечная дата</th>
                        <th>Примечание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for note in note_history  %}
                        <td>{{ note.first_date }}</td>
                        <td>{{ note.last_date|default_if_none:"-" }}</td>
                        <td>{{ note.text }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
          {% else %}
          <br/><p>Нет истории</p>
          {% endif %}
        {% endwith %}
        </div>

      </div>

    </div>
</div>
{% endblock content %}
